In [1]:
import pandas as pd
import seaborn as sns

In [2]:
tips = sns.load_dataset('tips')
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [3]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null category
smoker        244 non-null category
day           244 non-null category
time          244 non-null category
size          244 non-null int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.2 KB

In [4]:
tips.dtypes['tip'], tips.dtypes.loc['tip'], tips.dtypes.iloc[0]

(dtype('float64'), dtype('float64'), dtype('float64'))

In [5]:
tips['sex_str'] = tips['sex'].astype(str)
tips['sex_str'][:5]

0    Female
1      Male
2      Male
3      Male
4    Female
Name: sex_str, dtype: object

In [6]:
tip_sub_miss =tips.head(10)

In [7]:
tip_sub_miss.loc[[1,3,5,7],'total_bill'] = 'missing'

/home/farid/.local/lib/python3.6/site-packages/pandas/core/indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [8]:
tip_sub_miss

  total_bill   tip     sex smoker  day    time  size sex_str
0      16.99  1.01  Female     No  Sun  Dinner     2  Female
1    missing  1.66    Male     No  Sun  Dinner     3    Male
2      21.01  3.50    Male     No  Sun  Dinner     3    Male
3    missing  3.31    Male     No  Sun  Dinner     2    Male
4      24.59  3.61  Female     No  Sun  Dinner     4  Female
5    missing  4.71    Male     No  Sun  Dinner     4    Male
6       8.77  2.00    Male     No  Sun  Dinner     2    Male
7    missing  3.12    Male     No  Sun  Dinner     4    Male
8      15.04  1.96    Male     No  Sun  Dinner     2    Male
9      14.78  3.23    Male     No  Sun  Dinner     2    Male

In [9]:
tip_sub_miss.dtypes

total_bill      object
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

In [10]:
tip_sub_miss['total_bill'] = pd.to_numeric(tip_sub_miss['total_bill'], errors='coerce')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [11]:
tip_sub_miss

   total_bill   tip     sex smoker  day    time  size sex_str
0       16.99  1.01  Female     No  Sun  Dinner     2  Female
1         NaN  1.66    Male     No  Sun  Dinner     3    Male
2       21.01  3.50    Male     No  Sun  Dinner     3    Male
3         NaN  3.31    Male     No  Sun  Dinner     2    Male
4       24.59  3.61  Female     No  Sun  Dinner     4  Female
5         NaN  4.71    Male     No  Sun  Dinner     4    Male
6        8.77  2.00    Male     No  Sun  Dinner     2    Male
7         NaN  3.12    Male     No  Sun  Dinner     4    Male
8       15.04  1.96    Male     No  Sun  Dinner     2    Male
9       14.78  3.23    Male     No  Sun  Dinner     2    Male

In [12]:
tips['sex_cat'] = tips['sex_str'].astype('category')
tips.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
sex_cat       category
dtype: object

In [13]:
tips['sex_cat'].cat.categories

Index(['Female', 'Male'], dtype='object')

In [14]:
tips['sex_cat'].cat.ordered

False

In [15]:
tips['sex_cat'].cat.codes

0      0
1      1
2      1
3      1
4      0
5      1
6      1
7      1
8      1
9      1
10     1
11     0
12     1
13     1
14     0
15     1
16     0
17     1
18     0
19     1
20     1
21     0
22     0
23     1
24     1
25     1
26     1
27     1
28     1
29     0
      ..
214    0
215    0
216    1
217    1
218    1
219    0
220    1
221    0
222    1
223    0
224    1
225    0
226    0
227    1
228    1
229    0
230    1
231    1
232    1
233    1
234    1
235    1
236    1
237    1
238    0
239    1
240    0
241    1
242    1
243    0
Length: 244, dtype: int8